@import "../base/typography.scss";

* {
    margin: $initial;
    padding: $initial;
    cursor: pointer;
    scroll-behavior: smooth;
    box-sizing: $border-box;
}

body {
    font-family: $font-text;
    background-color: $background-night;

    img {
        width: $width-max;
        object-fit: cover;
    }

    a {
        text-decoration: none !important;
    }

    section {
        padding: 10rem 0rem;

        @media screen and (max-width: $breakpoint-tablet) {
            padding: 5rem 1rem;
        }
    }
}