@import "../base/typography.scss";

* {
    margin: $initial;
    padding: $initial;
    
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: $text;
    font-family: $font-base;
    background-color: $background;

    img {
        width: $max;
        border-radius: $radius;
        object-fit: $cover;
    }

    section {
        padding: 140px 0;
    }
}