* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    scroll-behavior: smooth;
}

body {
    color: $dark-green;
    font-family: $font-base;
    background-color: $seasalt;
    transition: background-color 0.3s, color 0.3s;

    h1,
    h2,
    h3 {
        color: $dark-green;
    }

    #main {
        padding: 0 3rem;

        @media screen and (max-width: $mobile) {
            padding: 0rem !important;
        }
    }
}

section {
    padding: 10rem $size-ten;

    @media screen and (max-width: $mobile) {
        padding: 5rem $size-ten !important;
    }
}

img {
    width: $max;
    border-radius: $radius;
    object-fit: cover;
}