h1,
h2,
h3,
h4,
h5 {
    @include title;
    max-width: $p-max;
    word-wrap: break-word;
}

h1 {
    font-size: 180px;

    @media screen and (max-width: $mobile) {
        font-size: 65px !important;
    }

    @media screen and (max-width: $desktop) {
        font-size: 130px;
    }
}

h2 {
    font-size: 170px;

    @media screen and (max-width: $mobile) {
        font-size: 60px !important;
    }

    @media screen and (max-width: $desktop) {
        font-size: 125px;
    }
}

h3 {
    font-size: 160px;

    @media screen and (max-width: $mobile) {
        font-size: 50px !important;
    }

    @media screen and (max-width: $desktop) {
        font-size: 110px;
    }
}

p,
a, 
h6 {
    @include text;

    strong {
        font-weight: 800;
    }
}