h1,
h2,
h3,
h4 {
    text-transform: $uppercase;
    font-family: $font-primary;
}

h1 {
    font-size: 140px;

    @media screen and (max-width: $mobile) {
        font-size: 70px !important;
    }
}

h2 {
    font-size: 90px;

    @media screen and (max-width: $mobile) {
        font-size: 41px !important;
    }

    @media screen and (max-width: $tablet) {
        font-size: 79px;
    }
}

h3 {
    font-size: 88px;

    @media screen and (max-width: $mobile) {
        font-size: 40px !important;
    }

    @media screen and (max-width: $tablet) {
        font-size: 69px;
    }
}

p,
a, 
q {
    @include text;

    strong {
        font-weight: 600;
    }
}

.subtitle {
    @include subtitle;
}