// TITLE

.title {
    display: $flex;

    span {
        margin-right: 10px;

        img {
            @media screen and (max-width: $tablet) {
                width: 80% !important;
            }
        }
    }
}

// FONTS

.subtitle {
    font-size: 1.3rem !important;
    font-family: $base;
    text-transform: $uppercase;
}

.sign {
    font-size: 5.9rem;
    font-family: $signing;
    font-weight: 600;
}

// COLORS

.color--dark {
    color: $text !important;
}

.color--span {
    color: $span !important;
}

.color--light {
    color: $background !important;
}

.color--primary {
    color: $primary !important;
}

.color--accent {
    color: $accent !important;
}

.color--secondary {
    color: $secondary !important;
}

// BACKGROUND 

.background--text {
    background-color: $text !important;
}

.background--dark {
    background-color: $second-bg !important;
}

.background--primary {
    background-color: $primary !important;
}

.background--light {
    background-color: $background !important;
}

.background--span {
    background-color: $span !important;
}

.background--second--bg {
    background-color: $second-bg !important;
}

.background--secondary {
    background-color: $secondary !important;
}

.background--accent {
    background-color: $accent !important;
}

// MARGIN 

.marg {
    margin-top: 2rem;
}

.marg-tablet {
    @media screen and (max-width: $tablet) {
        margin-top: 2rem !important;
    }
}

.marg-mobile {
    @media screen and (max-width: $mobile) {
        margin-top: 2rem !important;
    }
}

// SPACE BETWEEN 

.d-flex-between {
    display: $flex !important;
    justify-content: $space-between !important;
}

.center {
    align-items: $center !important;
    justify-content: $center !important;
}

// SEPARATOR 

.separator {
    width: 20%;
    height: 2px;
    margin-right: 2% !important;
    margin-left: 2% !important;
    background-color: $secondary;

    @media screen and (max-width: $mobile) {
        width: 32% !important;
    }
}

// PROJECTS

.category {
    .category-name {
        background-color: $transparent !important;
        color: $primary !important;
        font-weight: 600;
        padding: 20px;
        width: $max !important;
        position: $relative;
        text-align: $center;
        border: 2px solid $primary !important;
    }
}

.span-cat {
    width: 50%;
    font-size: 17px;
    color: $background;
    padding: 15px 25px;
    display: $flex;
    text-align: center;
    flex-direction: column;

    @media screen and (max-width: $mobile) {
        width: 80% !important;
    }

    &:not(:last-child) {
        margin-bottom: 18px;
    }
}

// NONE

.none-tablet {
    @media screen and (max-width: $tablet) {
        display: $none;
    }
}