@import "../utils/mixins.scss";


// MARGIN 

.marg {
    margin: $r-two 0;
}

.marg-top {
    margin-top: $r-two;
}

.marg-top-mobile {
    @media screen and (max-width: $mobile) {
        margin-top: $r-two;
    }
}

.marg-top-tablet {
    @media screen and (max-width: $tablet) {
        margin-top: $r-two;
    }
}

.marg-tablet {
    @media screen and (max-width: $tablet) {
        margin-bottom: $r-two;
    }
}

// BACKGROUND 

.bg-white {
    color: $dark-background;
    background-color: $dark-text !important;
}

.bg-dark,
.bg-primary {
    color: $dark-text !important;
}

.bg-dark {
    background-color: $dark-background !important;
}

.bg-primary {
    background-color: $dark-primary !important;
}

.bg-transparent {
    background-color: $transparent !important;

    span {
        color: rgba(255, 255, 255, 0);
    }
}

// FONTS

.subtitle {
    color: $dark-accent;
    font-size: $r-two;
    @include subtitle;

    @media screen and (max-width: $mobile) {
        font-size: 1.5rem!important;
    }
}