@mixin heading {
    font-weight: 500;
    line-height: $heading-line-height;
    text-transform: $uppercase;
    font-family: $font-primary;
}

@mixin text {
    font-size: 1.8rem;
    font-family: $font-base;

    @media screen and (max-width: $mobile) {
        font-size: 1.6rem;
    }
}

@mixin link {
    font-size: 18px;
    letter-spacing: 0.5px;

    &:hover,
    &:focus,
    &:active {
        font-weight: 700;
        transition: $transition-two;
    }
}

@mixin font-secondary {
    font-weight: 600;
    font-optical-sizing: auto;
    text-transform: $uppercase !important;
    font-family: $font-secondary;
}