@mixin title {
    font-weight: 500;
    color: $dark-green;
    letter-spacing: $spacing;
    text-transform: $uppercase;
    font-family: $font-primary;
}

@mixin link {
    color: $seasalt;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: $spacing;
    text-transform: $uppercase;
    transition: all 0.5s ease !important;
    font-family: $font-base;

    i {
        color: $fern-green;
    }

    &:hover,
    &:focus,
    &:active {
        color: $fern-green;
        font-weight: 600;
    }
}

@mixin text {
    color: $hunter-green;
    font-size: 23px;
    font-weight: 300;
    text-align: justify;
    font-family: $font-base;

    @media screen and (max-width: $mobile) {
        font-size: $size-twenty !important;
    }
}

@mixin subtitle {
    font-size: 22px;
    font-weight: 700;
    color: $fern-green;
    letter-spacing: $spacing;
    text-transform: $uppercase;
    font-family: $font-secondary;
}

@mixin list {
    color: $hunter-green;
    display: $flex;
    margin-top: $size-twenty;
    padding-bottom: $size-twenty;
    justify-content: space-between;
    border-bottom: 1px solid $cambridge-blue;

    @include subtitle;

    .arrow {
        color: $hunter-green;
        margin-right: $size-five;
    }

    @media screen and (max-width: $mobile) {
        font-size: 14.5px;
    }
}

@mixin btn-modal {
    width: $max;
    padding: $size-ten 15px;
    color: $white !important;
    border-radius: $radius !important;
    background-color: $dark-green;

    &:hover,
    &:focus,
    &:active {
        border-bottom: $none !important;
        background-color: $hunter-green;
    }
}