// FONTS

$font-base: "Roboto", sans-serif;
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Raleway", sans-serif;

// COLORS

$text: #0e100e;
$background: #f8f8f8;
$primary: #92b592;
$secondary: #79906a;

// OTHER COLOR

$tertiary: #959895;

// SIZE

$initial: 0;
$small-value: 1rem;
$simple-value: 2rem;
$other-simple-value: 3rem;
$medium-value: 5rem;
$large-value: 10rem;
$big-value: 15rem;

// MEDIA QUERIES 

$mobile: 576px;
$small-tablet: 768px;
$tablet: 1024px;

// DISPLAY 

$none: none;
$flex: flex; 
$block: block;

// LEFT 

$left: left;
$right: right;
$center: center;

// OVERFLOW

$hidden: hidden;

// POSITION 

$fixed: fixed;
$relative: relative;
$absolute: absolute;

// IMAGE 

$cover: cover;

// MAX 

$max: 100%;

// BORDER

$border-light: 1px solid $background;
$border-dark: 1px solid $text;
$border-top-dark: 1px solid $text;
$border-bottom-dark: 1px solid $text;

// TRANSFORM

$uppercase: uppercase;

// TRANSITION 

$transition: all 0.5s ease;

// RADIUS

$radius: 0.335rem;