// COLORS

$dark-green: #213121;
$hunter-green: #395639;
$fern-green: #496e49;
$fern-green-2: #5a875a;
$white: #f6f6f6;

// FONTS 

$font-base: "Hind", sans-serif;
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Raleway", sans-serif;

// MEDIA QUERIES 

$mobile: 576px;
$small-tablet: 768px;
$tablet: 1024px;

// RADIUS 

$radius: 0.350rem;

// DISPLAY 

$none: none;
$flex: flex;
$block: block;

// BORDER

$border: 1px solid $hunter-green;

// POSITION 

$fixed: fixed;
$absolute: absolute;

// WIDTH 

$max: 100%;

// TRANSFORM 

$uppercase: uppercase;

// SIZE 

$size-zero: 0px;
$size-two: 2px;
$size-five: 5px;
$size-ten: 10px;
$size-twenty: 20px;
$size-twenty-five: 25px;
$size-thirty: 30px;
$size-forty: 40px;
$size-fifty: 50px;

// SPACING 

$spacing: 0.6px;
$second-spacing: 0.9px;

// GRADIENT

$gradient-top: linear-gradient(0deg, #213121ff, #395639ff, #496e49ff, #5a875aff, #ebebebff);
$gradient-right: linear-gradient(90deg, #213121ff, #395639ff, #496e49ff, #5a875aff, #ebebebff);
$gradient-bottom: linear-gradient(180deg, #213121ff, #395639ff, #496e49ff, #5a875aff, #ebebebff);
$gradient-left: linear-gradient(270deg, #213121ff, #395639ff, #496e49ff, #5a875aff, #ebebebff);
$gradient-top-right: linear-gradient(45deg, #213121ff, #395639ff, #496e49ff, #5a875aff, #ebebebff);
$gradient-bottom-right: linear-gradient(135deg, #213121ff, #395639ff, #496e49ff, #5a875aff, #ebebebff);
$gradient-top-left: linear-gradient(225deg, #213121ff, #395639ff, #496e49ff, #5a875aff, #ebebebff);
$gradient-bottom-left: linear-gradient(315deg, #213121ff, #395639ff, #496e49ff, #5a875aff, #ebebebff);
$gradient-radial: radial-gradient(#213121ff, #395639ff, #496e49ff, #5a875aff, #ebebebff);