// FONTS 

$base: "Tajawal", sans-serif;
$title: "Arima", system-ui;
$signing: "Grand Hotel", cursive;

// COLORS

$text: #3a2d32; 
$background: #F5F5F5; 
$primary: #ae979b; 
$secondary: #dbb4ad; 
$accent: #ffe3dc;

// SECOND 

$second-bg: #24181d;
$span: #5d4b59;

// SIZE 

$zero: 0; 

// WIDTH 

$max: 100%;

// IMAGE 

$cover: cover;

// DISPLAY 

$none: none; 
$flex: flex;
$block: block;

// POSITION 

$fixed: fixed;
$absolute: absolute;
$relative: relative;

// OVERFLOW 

$hidden: hidden;

// MEDIA QUERIES

$mobile: 578px;
$small-tablet: 769px;
$tablet: 1024px;
$desktop: 1480px;

// TRANSFORM 

$uppercase: uppercase;

// JUSTIFY CONTENT 

$space-between: space-between;

// ALIGN 

$center: center;

// TRANSPARENT

$transparent: transparent;