@import "../base/typography.scss";

// Colors 

.color-smoke {
    color: $color-smoke !important;
}

.color-gold {
    color: $color-gold !important;
}

.color-turkey {
    color: $color-turkey !important;
}

.color-falu {
    color: $color-falu !important;
}

.color-eerie {
    color: $color-eerie !important;
}

// Background 

.background-smoke {
    background-color: $background-smoke !important;
}

.background-gold {
    background-color: $background-gold;
}

.background-turkey {
    background-color: $background-turkey !important;
}

.background-falu {
    background-color: $background-falu !important;
}

.background-eerie {
    background-color: $background-eerie;
}

// Space 

.flex-between {
    display: $display-flex;
    justify-content: $space-between;
}

// Line 

.line-with-number {
    font-size: 27px;
    align-items: center;
    text-align: center;
    display: $display-flex;
    color: $color-smoke;
    font-family: $font-subtitle;

    &::after {
        content: "";
        flex: 1;
        margin: 0 10px;
        border-bottom: 3px solid $color-gold;
    }
}

.line-before {
    &::after {
        flex: 0 !important;
    }

    &::before {
        content: "";
        flex: 1;
        margin: 0 10px;
        border-bottom: 3px solid $color-gold;
    }
}

// Margin 

.margin-xs {
    margin-top: $margin-xs;
}

.margin-s {
    margin-top: $margin-s;
}

.margin-m {
    margin-top: $margin-m;
}

// Padding 

.padding-none {
    padding: $padding-none !important;
}

.padding-text {
    padding: $padding-text-desktop;

    @media screen and (max-width: $breakpoint-mobile) {
        padding: $padding-content-mobile !important;
    }

    @media screen and (max-width: $breakpoint-tablet) {
        padding: $padding-content-tablet;
    }
}

.padding-right {
    padding-right: $padding-right;

    @media screen and (max-width: $breakpoint-mobile) {
        padding-right: $initial !important;
    }
}

.padding-right-none-tablet {
    @media screen and (max-width: $breakpoint-tablet) {
        padding-right: $initial !important;
    }
}

// Text 

.justify-text {
    text-align: $align-justify;
}

.left-text {
    text-align: $align-left !important;
}

// Image 

.img-presentation {
    height: 600px;

    @media screen and (max-width: $breakpoint-mobile) {
        height: 380px !important;
    }
}

// Direction 

.column-reverse-tablet {
    @media screen and (max-width: $breakpoint-tablet) {
        flex-direction: column-reverse !important;
    }
}

// Display 

.none-mobile {
    @media screen and (max-width: $breakpoint-mobile) {
        display: $display-none !important;
    }
}