// Colors 

$color-smoke: #f5f5f5;
$color-gold: #E4BA4E;
$color-turkey: #A30000;
$color-falu: #751A1A;
$color-eerie: #252525;

// Background 

$background-smoke: #f5f5f5;
$background-gold: #E4BA4E;
$background-turkey: #A30000;
$background-falu: #751A1A;
$background-eerie: #252525;
$background-transparent: transparent;

// Position 

$position-fixed: fixed;
$position-relative: relative;
$position-absolute: absolute;

// Dimensions 

$size-website-name-mobile: 15px;
$size-website-name-desktop: 25px; 

$width-max: 100%;

$width-bars-menu: 20px;
$width-bars-second: 10px; 

// Display 

$display-none: none;
$display-block: block;
$display-flex: flex;

// Breakpoints 

$breakpoint-mobile: 567px; 
$breakpoint-tablet-sm: 768px;
$breakpoint-tablet: 1024px; 

// Box modal 

$initial: 0px; 
$border-box: border-box;
$no-wrap: nowrap;

// Spacing 

$spacing-xxs: 0.8px; 
$spacing-xs: 1px; 
$spacing-s: 2px;

// Margin 

$margin-xs: 1rem;
$margin-s: 2rem; 
$margin-m: 3rem;

// Padding 

$padding-none: 0px;
$padding-s: 2rem;

// Flexbox & Justification 

$direction-column: column; 
$space-between: space-between; 

// Overflow

$overflow-hidden: hidden; 

// Moving text 

$moving-size: 18px;
$padding-moving-text: 2rem 1rem; 

// Text 

$align-center: center;
$align-justify: justify;
$font-size-text: 15px;
$padding-content-mobile: 1rem;
$padding-content-desktop: 3rem;
$text-transform-uppercase: uppercase;

// Transition 

$transition-all: all; 
$transition-ease-animation: ease; 
$transition-duration-three: 0.3s; 
$transition-duration-five: 0.5s; 
$transition-ease-in-out-animation: ease-in-out; 

$transition-ease: $transition-all $transition-duration-five $transition-ease-animation; 
$transition-ease-in-out: $transition-all $transition-duration-three $transition-ease-in-out-animation; 
