body {
    &.dark-theme {
        background-color: $dark-green;

        .header.fixed {
            background-color: $dark-green;
        }

        .navbar-brand,
        .lang,
        h1,
        h2,
        h3,
        .a-project,
        .sub-pres {
            color: $seasalt !important;
        }

        p {
            color: $ash-gray;
        }

        .subtitle {
            color: $cambridge-blue !important;
        }

        .menu {
            .btn {
                color: $ash-gray;
            }

            .btn-menu,
            .sidebar {
                background-color: $ash-gray !important;
            }
        }

        .modal-content {
            background-color: $dark-green !important;

            button {
                i {
                    color: $seasalt !important;
                }
            }
        }

        .btn-dark {
            color: $seasalt;
            border: 2px solid $seasalt;

            &:hover,
            &:focus,
            &:active {
                color: $dark-green;
                background-color: $seasalt;
            }
        }

        .a-project {
            border-bottom: 1px solid $hunter-green;
        }

        .sub-pres {
            border-bottom: $border-light;
        }

        .bg-one {
            h4 {
                color: $dark-green !important;
            }
        }

        .bg-two {
            h4 {
                color: $hunter-green !important;
            }
        }

        .footer {
            background-color: #283b28;

            h5,
            h6,
            p,
            a {
                color: $seasalt;
            }

            h5 {
                border-bottom: 1px solid $seasalt;
            }
        }
    }
}