.accordion {
    margin-top: $simple-value;
    background-color: transparent !important;

    .accordion-item {
        border: $none !important;
        margin-bottom: $small-value;
        border-radius: $radius !important;
        background-color: transparent !important;

        .accordion-header {
            padding-bottom: $initial !important;
            border-bottom: $none !important;

            span {
                font-size: 20px !important;
            }
        }

        .accordion-button {
            color: $text;
            border-radius: $radius !important;
            border: 0.5px solid $text;
        }

        .accordion-button:not(.collapsed) {
            background-color: transparent !important;
        }
    }

    .accordion-button,
    .accordion-body {
        background-color: transparent !important;
    }

    .accordion-body {
        border: $none !important;
        padding: $small-value $initial $initial !important;

        p {
            font-size: 1.4rem;
            padding: $small-value $initial !important;

            @media screen and (max-width: $mobile) {
                font-size: 1.2rem !important;
            }
        }
    }
}