.background {
    .img-background {
        top: $initial;
        left: $initial;
        right: $initial;
        z-index: -999;
        min-height: 100vh;
        position: $position-fixed;
    }
}