.btn {
    color: $background;
    font-size: 15px;
    padding: 15px 20px;
    text-align: $center;
    border: $none;
    border-radius: 5px;
    text-transform: $uppercase;
    font-family: $font-secondary;
    background-color: $secondary;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-secondary {
    &:hover,
    &:focus,
    &:active {
        color: $background !important;
        background-color: $primary !important;
    }
}