.btn {
    font-size: 18px;
    font-weight: 500;
    border: $display-none;
    overflow: $hidden;
    position: $relative;
    padding: 15px 20px;
    transition: $transition-two !important;
    text-transform: $uppercase;
    margin-top: $simple-value;

    @media screen and (max-width: $mobile) {
        margin-top: $small-value;
    }

    &:hover,
    &:focus,
    &:active {
        border-radius: 50px;
        transition: $transition-two !important;
    }
}

.btn-dark {
    color: $background;
    background-color: $text !important;

    &:hover,
    &:focus,
    &:active {
        color: $text;
        background-color: $primary !important;
    }
}

.btn-primary {
    color: $text;
    background-color: $primary !important;

    &:hover,
    &:focus,
    &:active {
        color: $primary;
        background-color: $text !important;
    }
}

.btn-max {
    width: $max;
}