.card-project {
    margin-top: $simple-value;
    padding: $simple-value;
    border: $border-bottom-dark;
    background-color: transparent !important;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover,
    &:focus,
    &:active {
        transform: scale(1.05);
    }
}