.card {
    border-radius: $initial !important;
    background-color: $background-transparent;
}

.card-service,
.card-value {
    padding: 8rem 2rem;
    border: $border-smoke;

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 3rem 2rem !important;
    }

    h2,
    h3 {
        color: $color-smoke;
        font-size: 20px !important;
    }
}

.card-value {
    .icon-value {
        font-size: 20px;
    }

    h2 {
        font-weight: 600 !important;
    }
}

.card-project {
    border: $border-none !important;
    background-color: $background-transparent !important;

    img {
        opacity: 0.8 !important;
    }

    .content-project {
        position: $position-absolute;
        margin-top: -10%;
        margin-left: 5%;

        @media screen and (max-width: $breakpoint-mobile) {
            margin-top: -15% !important;
        }

        h3 {
            font-weight: 800 !important;

            @media screen and (max-width: $breakpoint-mobile) {
                font-size: 16px !important;
            }
        }
    }
}