#logo-light,
.moon {
    display: $display-none;
}

.btn-change {
    z-index: 5;
    bottom: $initial;
    position: $fixed;
    color: map-get(map-get($themes, dark), text);
    background-color: map-get(map-get($themes, dark), background);

    &:hover,
    &:focus,
    &:active {
        color: map-get(map-get($themes, dark), text);
        background-color: map-get(map-get($themes, dark), background) !important;
    }
}

.btn-theme {
    right: $initial;
    border-top-right-radius: $initial !important;
    border-bottom-right-radius: $initial !important;
}

.btn-language {
    left: $initial;
    border-top-left-radius: $initial !important;
    border-bottom-left-radius: $initial !important;
}