.infos {
    padding: 10px $initial;
    bottom: $initial;
    position: $fixed;
    border-top: $border-top-dark;
    border-right: $border-top-dark;
    background-color: $background;
    transition: all 0.3s ease;

    @media screen and (max-width: $mobile) {
        width: $max !important;
        padding: 15px $initial !important;
        text-align: $center !important;
    }

    a {
        color: $text;
        text-transform: $uppercase;
        font-family: $font-secondary;
    }
}