.languages,
.choose-languages {
    .btn-languages {
        @include languages;
    }

    .flag {
        width: 20px;
    }

    .name-flag {
        font-size: 15px;
        margin-left: 5px;
        margin-right: 2px;
        text-transform: $text-transform-uppercase;
        font-family: $font-text;
    }

    .dropdown-menu.show {
        border: $border-none !important;
        border-radius: 0px !important;

        .dropdown-item {

            &:hover,
            &:active,
            &:focus {
                span {
                    color: $color-gold !important;
                }

                background-color: $background-transparent;
            }
        }
    }
}

.choose-languages {
    display: $display-none;

    @media screen and (max-width: $breakpoint-mobile) {
        position: $position-fixed;
        bottom: 20px;
        left: 10px;
        display: $display-block !important;
    }
}