.modal {
    .modal-dialog {
        .modal-content {
            padding: 3rem;
            background-color: $seasalt;

            .modal-header {
                border-bottom: $none;

                button {
                    border: $none;
                    font-size: 20px;
                    color: $hunter-green;
                    padding: $size-zero !important;
                    background-color: transparent !important;

                    i {
                        margin-right: 10px;
                    }
                }
            }

            .modal-body {
                p {
                    margin-top: $size-twenty;
                }
            }
        }
    }
}