.modal {
    .modal-dialog {
        .modal-content {
            border: $display-none;
            border-radius: 0px !important;
            padding: $simple-value $other-simple-value;
            background-color: map-get(map-get($themes, dark), background);

            @media screen and (max-width: $mobile) {
                padding: $other-simple-value $simple-value !important;
            }

            .modal-header {
                display: $display-flex;
                justify-content: space-between;
                padding-bottom: $initial;

                h4,
                .btn {
                    font-size: 25px;
                    color: map-get(map-get($themes, dark), text);
                    font-family: $font-primary;
                }

                .btn {
                    padding: $initial !important;
                    margin-top: auto;

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: transparent;
                    }
                }
            }

            .modal-body {
                p,
                .subtitle {
                    font-size: 20px !important;
                    color: map-get(map-get($themes, dark), text);
                }

                p {
                    @media screen and (max-width: $mobile) {
                        text-align: $left !important;
                    }
                }
            }
        }

        .modal-content-secondary {
            background-color: map-get(map-get($themes, dark), secondary);
        }
    }
}