.modal {
    .modal-dialog {
        .modal-content {
            padding: $r-two;
            background-color: $dark-background;

            .modal-header {
                border-bottom: $none;

                .btn {
                    color: $dark-text;
                    padding: $size-zero;
                    font-size: $size-twenty;
                    border: $none !important;

                    i {
                        margin-left: $size-zero !important;
                    }
                }
            }

            .modal-body {
                .btn {
                    font-weight: 700;
                }
                p {
                    font-size: 22px !important;
                }
            }
        }
    }
}