.aside {
    top: $initial;
    left: $initial;
    width: 4%;
    height: $max;
    position: $fixed;
    border-right: $border-dark;
    background-color: $background;

    @media screen and (max-width: $mobile) {
        width: 15% !important;
    }

    @media screen and (max-width: $tablet) {
        width: 10%;
    }

    .welcome {
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        position: $absolute;

        .subtitle {
            text-align: $center;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
    }

    .languages {
        left: 25px;
        font-size: 20px;
        bottom: $initial;
        position: $fixed;

        @media screen and (max-width: $mobile) {
            left: 20px !important;
        }

        @media screen and (max-width: $tablet) {
            left: 30px;
            font-size: 28px !important;
        }

        a {
            color: $text !important;
            letter-spacing: 1px;
            font-family: $font-primary !important;
        }
    }
}