footer {
    margin-top: $size-fifty;
    padding: $size-zero $size-ten;

    .first {
        padding: $size-fifty;
        margin-bottom: $size-twenty;
        border-radius: $radius;
        background-color: $white;

        h5 {
            text-transform: $uppercase;
        }

        a,
        p {
            font-size: 18px;
        }

        p {
            br {
                @media screen and (max-width: $tablet) {
                    display: $none;
                }
            }
        }
    }

    h6 {
        padding: $size-twenty $size-zero;
    }
}