footer {
    margin-left: -2%;
    color: $background;
    padding: $medium-value;
    background-color: $text;

    @media screen and (max-width: $mobile) {
        padding: $other-simple-value !important;
    }

    h5,
    a {
        font-size: 22px;
        color: $tertiary;
        font-family: $font-secondary;
    }

    h5 {
        @media screen and (max-width: $mobile) {
            line-height: $simple-value !important;
        }
    }

    h6 {
        margin: $other-simple-value $initial;
        color: $background;
        font-size: $big-value;
        line-height: 13rem;

        @media screen and (max-width: $mobile) {
            font-size: 5rem !important;
            line-height: 6rem !important;
        }

        @media screen and (max-width: $tablet) {
            font-size: $large-value;
            line-height: $large-value;
        }
    }

    .hire-me {
        height: 220px;
        width: 220px;
        margin-left: 28%;
        margin-top: -23rem;
        padding: 4.5rem $other-simple-value;
        position: $absolute;
        border-radius: 200px;
        text-align: $center;
        border: 2px solid $text;
        background: $text;
        transition: $transition-two;

        @media screen and (max-width: $mobile) {
            width: 160px;
            height: 160px;
            margin-top: -14.5rem !important;
            margin-left: 16% !important;
            padding: 2.9rem 2rem !important;
        }

        @media screen and (max-width: $tablet) {
            margin-top: -20rem;
        }

        a {
            color: $background;
            text-transform: $uppercase;
            font-family: $font-secondary;
        }

        &:hover,
        &:focus,
        &:active {
            border: $display-none;
            background-color: $background;

            a {
                color: $text;
            }
        }
    }

    .copy {
        color: $background;
        margin-top: $simple-value;
    }
}

.reseaux {
    display: $display-flex;
    justify-content: $center;

    a {
        text-transform: $uppercase;

        &:hover,
        &:focus,
        &:active {
            color: $tertiary;
        }
    }

    .git {
        margin: $initial 1rem;
    }
}

.copy {
    font-size: 16px;
    text-transform: $uppercase;
}