.header {
    width: $max;
    z-index: 10;
    position: $fixed;

    .navbar-brand,
    .btn-menu {
        font-size: 18px !important;
    }

    .navbar-brand {
        font-weight: 400 !important;
        @include title;
    }

    .navbar-brand,
    .subtitle {
        color: $dark-green;
    }

    .menu {
        .btn {
            font-size: 20px;
            color: $cambridge-blue;
            padding: $size-zero !important;
        }

        a {
            font-size: 15px !important;
            font-weight: 400 !important;
            text-transform: $uppercase !important;
            margin: $size-zero $size-ten !important;
        }

        .btn-menu {
            padding: 15px;
            border-radius: 50%;
            background-color: $cambridge-blue;

            i {
                padding: $size-five;
                color: $seasalt;
            }
        }
    }

    .sidebar {
        top: $size-zero;
        left: $size-zero;
        z-index: 5;
        width: 250px;
        height: 100%;
        position: $fixed;
        overflow-x: hidden;
        display: none;
        background-color: $cambridge-blue;

        .menu-sidebar {
            padding: 5rem 2rem;

            ul {
                .nav-item {
                    margin-bottom: $size-twenty;

                    .nav-link {
                        @include link;
                    }
                }
            }
        }
    }
}

.header.fixed {
    background-color: $seasalt;
}