header {
    top: $size-zero;
    position: $fixed;
    margin: $size-zero $size-ten;
    width: 98.5%;
    z-index: 150;
    background-color: $white;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;

    @media screen and (max-width: $mobile) {
        width: 95% !important;
    }

    @media screen and (max-width: $tablet) {
        padding: $size-ten;
    }

    .toggler {
        display: $none;

        @media screen and (max-width: $tablet) {
            color: $hunter-green;
            display: $block !important;

            .second-circle {
                display: $none;
            }

            &:hover,
            &:focus,
            &:active {
                color: $fern-green-2;
                transition: all 0.5s ease;

                .first-circle {
                    display: $none !important;
                }

                .second-circle {
                    display: $block !important;
                }
            }
        }
    }

    a {
        text-transform: $uppercase;
    }

    .navbar-nav,
    .languages {
        @media screen and (max-width: $tablet) {
            margin-top: $size-forty;
        }
    }

    .nav-item {
        .nav-link {
            @include link;
        }
    }

    .navbar-brand,
    .link {
        font-size: 16px;
        color: $dark-green;
        font-weight: 600;
        font-family: $font-secondary;
    }

    .first-languages {
        display: $none;

        @media screen and (max-width: $mobile) {
            top: 23px !important;
            right: 18% !important;
        }

        @media screen and (max-width: $tablet) {
            right: 10%;
            top: 25px;
            position: $fixed;
            display: $block !important;
        }
    }

    .second-languages {
        @media screen and (max-width: $tablet) {
            display: $none !important;
        }

        .languages {
            a {
                margin-right: $size-five;
            }
        }
    }
}

header.fixed {
    background-color: $white !important;
}