.header {
    padding: 20px 0px;

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 10px 0px !important;
    }

    // Container

    .container {
        @media screen and (max-width: $breakpoint-mobile) {
            flex-direction: row-reverse !important;
        }
    }

    // Brand 

    .brand {
        @media screen and (max-width: $breakpoint-mobile) {
            width: 86%;
        }

        .website-name {
            margin-top: 8%;
            @include brand;
        }
    }

    // Toggler 

    .toggler-menu {
        padding: 10px;
        background-color: $background-smoke;

        &:hover,
        &:focus,
        &:active {
            background-color: $background-gold !important;
            transition: $transition-ease-in-out !important;

            .bars {
                background-color: $background-smoke !important;
            }

            .second-bars {
                width: $width-bars-menu !important;
                transition: $transition-ease-in-out !important;
            }
        }

        @media screen and (max-width: $breakpoint-mobile) {
            margin-right: 5px;
        }

        .toggler-bars {
            width: $width-bars-menu;

            .bars {
                height: 2px;
                width: $width-bars-menu;
                display: $display-flex;
                flex-direction: $direction-column;
                background-color: $background-eerie;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }

            .second-bars {
                width: $width-bars-second;
            }
        }
    }

    // Languages 

    .languages {
        margin-top: 1%;

        .btn-languages {
            padding: 10px 15px;
            border: 1px solid $color-smoke;

            @media screen and (max-width: $breakpoint-mobile) {
                display: $display-none !important;
            }
        }
    }
}

.sidebar {
    top: $initial;
    left: $initial;
    height: $width-max;
    width: 0;
    position: $position-fixed;
    overflow-x: $overflow-hidden;
    transition: width 0.3s ease;
    background-color: $background-smoke;

    .img-sidebar {
        z-index: -99;
        min-height: 100vh;
        position: $position-absolute;
    }

    .close {
        font-size: 20px;
        margin-top: 2rem;
        margin-left: 2rem;
        padding: 10px;
        position: $position-absolute;
        background-color: $background-eerie;

        &:hover,
        &:focus,
        &:active {
            background-color: $background-gold;
            transition: $transition-ease-in-out !important;

            i {
                color: $color-smoke;
            }
        }

        i {
            color: $color-smoke;
        }
    }

    .menu {
        padding: 5rem 5rem;
        text-align: center;

        @media screen and (max-width: $breakpoint-mobile) {
            padding: 10rem 1rem !important;
        }

        @media screen and (max-width: $breakpoint-tablet) {
            padding: 10rem 2rem;
        }

        .nav-link {
            @include links;
        }
    }
}