.offcanvas {
    border: $none;
    height: $max !important;
    background-color: $text !important;

    .offcanvas-header {
        .btn {
            top: $initial;
            font-size: 25px;
            color: $secondary;
            right: 25px;
            padding: $initial !important;
            position: $absolute !important;
            background-color: $text !important;

            @media screen and (max-width: 780px) {
                top: 10px;
            }
        }
    }

    .offcanvas-body {
        padding: 120px $initial $initial;

        @media screen and (max-width: $mobile) {
            padding: 50px $initial !important;
        }

        .list-unstyled {
            text-align: $center;

            .nav-link {
                font-size: 3rem;
                color: $background;
                font-weight: 400 !important;
                @include font-secondary;

                @media screen and (max-width: $mobile) {
                    font-size: 2.1rem !important;
                }

                &:hover,
                &:focus,
                &::active {
                    font-weight: 700;
                }
            }
        }

        .reseaux {
            margin: $simple-value $initial;

            a {
                font-size: 25px;
                color: $primary;
            }
        }

        .greetings-copy {
            color: $background;

            .greet,
            .copy {
                font-size: 16px !important;
            }
        }
    }
}