.position-absolute-right {
  top: 0;
  right: 0;
  position: absolute;
}

.position-fixed-left {
  left: 0;
  bottom: 0;
  position: fixed;
}

.display-space {
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  font-size: 220px;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 80px !important;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 160px;
  }
}

h2,
h3 {
  font-size: 160px;
}
@media screen and (max-width: 576px) {
  h2,
h3 {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 1024px) {
  h2,
h3 {
    font-size: 140px;
  }
}

p {
  font-size: 1.8rem;
  font-family: "Rajdhani", sans-serif;
  text-align: justify;
}
@media screen and (max-width: 576px) {
  p {
    font-size: 1.6rem;
  }
}

.subtitle {
  font-size: 20px;
  color: #959895;
  font-weight: 600;
  font-optical-sizing: auto;
  text-transform: uppercase !important;
  font-family: "Roboto Mono", monospace;
}
@media screen and (max-width: 576px) {
  .subtitle {
    font-size: 20px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #0e100e;
  font-family: "Rajdhani", sans-serif;
  background-color: #f5f5f5;
}
body img {
  width: 100%;
  border-radius: 0.735rem;
  object-fit: cover;
}
body section {
  padding: 140px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  font-size: 220px;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 80px !important;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 160px;
  }
}

h2,
h3 {
  font-size: 160px;
}
@media screen and (max-width: 576px) {
  h2,
h3 {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 1024px) {
  h2,
h3 {
    font-size: 140px;
  }
}

p {
  font-size: 1.8rem;
  font-family: "Rajdhani", sans-serif;
  text-align: justify;
}
@media screen and (max-width: 576px) {
  p {
    font-size: 1.6rem;
  }
}

.subtitle {
  font-size: 20px;
  color: #959895;
  font-weight: 600;
  font-optical-sizing: auto;
  text-transform: uppercase !important;
  font-family: "Roboto Mono", monospace;
}
@media screen and (max-width: 576px) {
  .subtitle {
    font-size: 20px !important;
  }
}

.header {
  z-index: 10;
  top: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  background-color: #f5f5f5;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 10px 0 !important;
  }
}
.header .container-fluid .infos-menu {
  display: contents;
}
.header .container-fluid .infos-menu .name {
  text-align: center;
}
.header .container-fluid .infos-menu .name .name-website {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 600;
  color: #0e100e;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}
.header .container-fluid .infos-menu .menu-one {
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .header .container-fluid .infos-menu .menu-one {
    display: none;
  }
}
.header .container-fluid .infos-menu .menu-one .list-unstyled {
  display: flex;
}
.header .container-fluid .infos-menu .menu-one .list-unstyled .nav-link {
  padding-right: 1rem;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.header .container-fluid .infos-menu .menu-one .list-unstyled .nav-link:hover, .header .container-fluid .infos-menu .menu-one .list-unstyled .nav-link:focus, .header .container-fluid .infos-menu .menu-one .list-unstyled .nav-link:active {
  font-weight: 700;
  transition: all 0.5s ease;
}
.header .container-fluid .infos-menu .button-canvas {
  display: none;
}
@media screen and (max-width: 576px) {
  .header .container-fluid .infos-menu .button-canvas {
    top: -10px !important;
    right: 10px !important;
  }
}
@media screen and (max-width: 1024px) {
  .header .container-fluid .infos-menu .button-canvas {
    top: -25px;
    right: 15px;
    z-index: 8;
    position: absolute;
    display: block !important;
  }
}
.header .container-fluid .infos-menu .button-canvas .btn {
  padding: 0 !important;
  background-color: transparent !important;
}
@media screen and (max-width: 1024px) {
  .header .container-fluid .infos-menu .button-canvas .btn {
    font-size: 23px;
  }
  .header .container-fluid .infos-menu .button-canvas .btn .icon {
    color: #0e100e;
  }
}

footer {
  color: #f5f5f5;
  padding: 5rem;
  background-color: #0e100e;
}
@media screen and (max-width: 576px) {
  footer {
    padding: 3rem !important;
  }
}
footer h5,
footer a {
  font-size: 22px;
  color: #959895;
  font-family: "Roboto Mono", monospace;
}
@media screen and (max-width: 576px) {
  footer h5 {
    line-height: 2rem !important;
  }
}
footer h6 {
  margin: 3rem 0;
  color: #f5f5f5;
  font-size: 15rem;
  line-height: 13rem;
}
@media screen and (max-width: 576px) {
  footer h6 {
    font-size: 5rem !important;
    line-height: 6rem !important;
  }
}
@media screen and (max-width: 1024px) {
  footer h6 {
    font-size: 10rem;
    line-height: 10rem;
  }
}
footer .hire-me {
  height: 220px;
  width: 220px;
  margin-left: 28%;
  margin-top: -23rem;
  padding: 4.5rem 3rem;
  position: absolute;
  border-radius: 200px;
  text-align: center;
  border: 2px solid #0e100e;
  background: #0e100e;
  transition: all 0.5s ease;
}
@media screen and (max-width: 576px) {
  footer .hire-me {
    width: 160px;
    height: 160px;
    margin-top: -14.5rem !important;
    margin-left: 16% !important;
    padding: 2.9rem 2rem !important;
  }
}
@media screen and (max-width: 1024px) {
  footer .hire-me {
    margin-top: -20rem;
  }
}
footer .hire-me a {
  color: #f5f5f5;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}
footer .hire-me:hover, footer .hire-me:focus, footer .hire-me:active {
  border: none;
  background-color: #f5f5f5;
}
footer .hire-me:hover a, footer .hire-me:focus a, footer .hire-me:active a {
  color: #0e100e;
}
footer .copy {
  color: #f5f5f5;
  margin-top: 2rem;
}

.reseaux {
  display: flex;
  justify-content: center;
}
.reseaux a {
  text-transform: uppercase;
}
.reseaux a:hover, .reseaux a:focus, .reseaux a:active {
  color: #959895;
}
.reseaux .git {
  margin: 0 1rem;
}

.copy {
  font-size: 16px;
  text-transform: uppercase;
}

.offcanvas {
  border: none;
  height: 100% !important;
  background-color: #0e100e !important;
}
.offcanvas .offcanvas-header .btn {
  top: 0;
  font-size: 25px;
  color: #79906a;
  right: 25px;
  padding: 0 !important;
  position: absolute !important;
}
.offcanvas .offcanvas-body {
  padding: 120px 0 0;
}
@media screen and (max-width: 576px) {
  .offcanvas .offcanvas-body {
    padding: 50px 0 !important;
  }
}
.offcanvas .offcanvas-body .list-unstyled {
  text-align: center;
}
.offcanvas .offcanvas-body .list-unstyled .nav-link {
  font-size: 3rem;
  color: #f5f5f5;
  font-weight: 400 !important;
  font-weight: 600;
  font-optical-sizing: auto;
  text-transform: uppercase !important;
  font-family: "Roboto Mono", monospace;
}
@media screen and (max-width: 576px) {
  .offcanvas .offcanvas-body .list-unstyled .nav-link {
    font-size: 2.6rem !important;
  }
}
.offcanvas .offcanvas-body .list-unstyled .nav-link:hover, .offcanvas .offcanvas-body .list-unstyled .nav-link:focus, .offcanvas .offcanvas-body .list-unstyled .nav-link::active {
  font-weight: 700;
}
.offcanvas .offcanvas-body .reseaux {
  margin: 2rem 0;
}
.offcanvas .offcanvas-body .reseaux a {
  font-size: 25px;
  color: #959895;
}
.offcanvas .offcanvas-body .greetings-copy {
  color: #92b592;
}
.offcanvas .offcanvas-body .greetings-copy .greet,
.offcanvas .offcanvas-body .greetings-copy .copy {
  font-size: 16px !important;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  border: none;
  overflow: hidden;
  position: relative;
  padding: 15px 20px;
  transition: all 0.5s ease !important;
  text-transform: uppercase;
  margin-top: 2rem;
}
@media screen and (max-width: 576px) {
  .btn {
    margin-top: 1rem;
  }
}
.btn:hover, .btn:focus, .btn:active {
  border-radius: 50px;
  transition: all 0.5s ease !important;
}

.btn-dark {
  color: #92b592;
  background-color: #0e100e !important;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #0e100e;
  background-color: #92b592 !important;
}

.btn-primary {
  color: #0e100e;
  background-color: #92b592 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #92b592;
  background-color: #0e100e !important;
}

.btn-max {
  width: 100%;
}

.btn-language {
  background-color: #f5f5f5;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.card {
  padding: 2rem;
  border: none;
  background-color: transparent;
}

.accordion .accordion-item {
  border: none !important;
  margin-bottom: 1rem;
  border-radius: 0.735rem !important;
}
.accordion .accordion-item .accordion-button {
  color: #0e100e;
  border-radius: 0.735rem !important;
  border: 0.5px solid #0e100e;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #f5f5f5 !important;
}
.accordion .accordion-button,
.accordion .accordion-body {
  background-color: #f5f5f5 !important;
}
.accordion .accordion-body {
  padding-top: 1rem;
}
.accordion .accordion-body p {
  font-size: 1.6rem !important;
}

.home-intro h1 {
  font-size: 330px;
  line-height: 0.8;
}
@media screen and (max-width: 576px) {
  .home-intro h1 {
    font-size: 148px !important;
  }
}
@media screen and (max-width: 1024px) {
  .home-intro h1 {
    font-size: 270px;
  }
}
.home-intro .container-images {
  height: 300px;
  margin-bottom: 22%;
  position: relative;
}
@media screen and (max-width: 576px) {
  .home-intro .container-images {
    margin-bottom: 32%;
  }
}
.home-intro .container-images img {
  width: 50%;
  height: 80vh;
  margin-top: -15%;
  margin-left: 0%;
}
@media screen and (max-width: 576px) {
  .home-intro .container-images img {
    height: 62vh !important;
    margin-top: -23% !important;
  }
}
@media screen and (max-width: 1024px) {
  .home-intro .container-images img {
    width: 80%;
    height: 50vh;
    margin-top: -20%;
  }
}
.home-intro .subtitle {
  font-size: 2.2rem;
}

.about p {
  margin-top: 2rem;
}
@media screen and (max-width: 576px) {
  .about p {
    margin-top: 1rem;
  }
}

.projects .name-project {
  margin: 1rem 0;
}

/*# sourceMappingURL=main.css.map */
