.position-absolute-top-left {
  top: 0px;
  left: 0px;
  position: absolute;
}

.subtitle {
  font-size: 22px;
  font-weight: 700;
  color: #5a875a;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.content-border {
  padding: 30px;
  border: 2px solid #213121;
  border-radius: 2.35rem;
}

.margin {
  margin: 50px 0;
}

.simple-margin {
  margin-top: 60px;
}
@media screen and (max-width: 576px) {
  .simple-margin {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 576px) {
  .simple-margin-tablet {
    margin-top: 30px !important;
  }
}
@media screen and (max-width: 1024px) {
  .simple-margin-tablet {
    margin-top: 60px;
  }
}

.without-padding {
  padding: 0rem 10px !important;
}

.color-white {
  color: #f6f6f6;
}

.color-dark {
  color: #395639;
}

* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  scroll-behavior: smooth;
}

body {
  color: #213121;
  font-family: "Hind", sans-serif;
  background-color: #f6f6f6;
  transition: background-color 0.3s, color 0.3s;
}
body h1,
body h2,
body h3 {
  color: #213121;
}
body #main {
  padding: 0 3rem;
}
@media screen and (max-width: 576px) {
  body #main {
    padding: 0rem !important;
  }
}

section {
  padding: 10rem 10px;
}
@media screen and (max-width: 576px) {
  section {
    padding: 5rem 10px !important;
  }
}

img {
  width: 100%;
  border-radius: 2.35rem;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: #213121;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 140px;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 70px !important;
  }
}

h2 {
  font-size: 90px;
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 52px !important;
  }
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 79px;
  }
}

h3 {
  font-size: 88px;
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 69px;
  }
}

p,
a,
h6 {
  color: #395639;
  font-size: 23px;
  font-weight: 300;
  text-align: justify;
  font-family: "Hind", sans-serif;
}
@media screen and (max-width: 576px) {
  p,
a,
h6 {
    font-size: 20px !important;
  }
}
p strong,
a strong,
h6 strong {
  font-weight: 500;
}

body.dark-theme {
  background-color: #213121;
}
body.dark-theme .header.fixed {
  background-color: #213121;
}
body.dark-theme .navbar-brand,
body.dark-theme .lang,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme .a-project,
body.dark-theme .sub-pres {
  color: #f6f6f6 !important;
}
body.dark-theme p {
  color: #a8c1b4;
}
body.dark-theme .subtitle {
  color: #91b691 !important;
}
body.dark-theme .menu .btn {
  color: #a8c1b4;
}
body.dark-theme .menu .btn-menu,
body.dark-theme .menu .sidebar {
  background-color: #a8c1b4 !important;
}
body.dark-theme .modal-content {
  background-color: #213121 !important;
}
body.dark-theme .modal-content button i {
  color: #f6f6f6 !important;
}
body.dark-theme .btn-dark {
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
}
body.dark-theme .btn-dark:hover, body.dark-theme .btn-dark:focus, body.dark-theme .btn-dark:active {
  color: #213121;
  background-color: #f6f6f6;
}
body.dark-theme .a-project {
  border-bottom: 1px solid #395639;
}
body.dark-theme .sub-pres {
  border-bottom: 1px solid #f6f6f6;
}
body.dark-theme .bg-one h4 {
  color: #213121 !important;
}
body.dark-theme .bg-two h4 {
  color: #395639 !important;
}
body.dark-theme .footer {
  background-color: #283b28;
}
body.dark-theme .footer h5,
body.dark-theme .footer h6,
body.dark-theme .footer p,
body.dark-theme .footer a {
  color: #f6f6f6;
}
body.dark-theme .footer h5 {
  border-bottom: 1px solid #f6f6f6;
}

.header {
  width: 100%;
  z-index: 10;
  position: fixed;
}
.header .navbar-brand,
.header .btn-menu {
  font-size: 18px !important;
}
.header .navbar-brand {
  font-weight: 400 !important;
  font-weight: 500;
  color: #213121;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.header .navbar-brand,
.header .subtitle {
  color: #213121;
}
.header .menu .btn {
  font-size: 20px;
  color: #91b691;
  padding: 0px !important;
}
.header .menu a {
  font-size: 15px !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  margin: 0px 10px !important;
}
.header .menu .btn-menu {
  padding: 15px;
  border-radius: 50%;
  background-color: #91b691;
}
.header .menu .btn-menu i {
  padding: 5px;
  color: #f6f6f6;
}
.header .sidebar {
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 250px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  display: none;
  background-color: #91b691;
}
.header .sidebar .menu-sidebar {
  padding: 5rem 2rem;
}
.header .sidebar .menu-sidebar ul .nav-item {
  margin-bottom: 20px;
}
.header .sidebar .menu-sidebar ul .nav-item .nav-link {
  color: #f6f6f6;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s ease !important;
  font-family: "Hind", sans-serif;
}
.header .sidebar .menu-sidebar ul .nav-item .nav-link i {
  color: #5a875a;
}
.header .sidebar .menu-sidebar ul .nav-item .nav-link:hover, .header .sidebar .menu-sidebar ul .nav-item .nav-link:focus, .header .sidebar .menu-sidebar ul .nav-item .nav-link:active {
  color: #5a875a;
  font-weight: 600;
}

.header.fixed {
  background-color: #f6f6f6;
}

footer {
  padding: 5rem 0;
  background: #f3f3f3;
}
footer h5 {
  font-size: 18px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #213121;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
}
footer a,
footer p,
footer h6 {
  font-size: 17px;
  font-weight: 300 !important;
  color: #395639;
}

.introduction {
  padding-top: 5rem;
}
.introduction .first-image {
  height: 50vh;
}
.introduction h2 {
  font-size: 35px !important;
  font-family: "Raleway", sans-serif !important;
}

@media screen and (max-width: 576px) {
  .about h4 {
    margin-top: 50px !important;
  }
}

.projects ul li img,
.contact ul li img,
.project-introduction ul li img {
  width: 36%;
  left: 30%;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease !important;
}
@media screen and (max-width: 576px) {
  .projects ul li img,
.contact ul li img,
.project-introduction ul li img {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .projects ul li img,
.contact ul li img,
.project-introduction ul li img {
    width: 32%;
  }
}
.projects ul li a,
.contact ul li a,
.project-introduction ul li a {
  color: #395639;
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #91b691;
  font-size: 22px;
  font-weight: 700;
  color: #5a875a;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #395639;
  font-size: 20px;
}
.projects ul li a .arrow,
.contact ul li a .arrow,
.project-introduction ul li a .arrow {
  color: #395639;
  margin-right: 5px;
}
@media screen and (max-width: 576px) {
  .projects ul li a,
.contact ul li a,
.project-introduction ul li a {
    font-size: 14.5px;
  }
}
@media screen and (max-width: 576px) {
  .projects ul li a,
.contact ul li a,
.project-introduction ul li a {
    font-size: 16px !important;
  }
}
.projects ul li a .name,
.contact ul li a .name,
.project-introduction ul li a .name {
  font-weight: 400;
}
.projects ul li:hover img, .projects ul li:focus img, .projects ul li:active img,
.contact ul li:hover img,
.contact ul li:focus img,
.contact ul li:active img,
.project-introduction ul li:hover img,
.project-introduction ul li:focus img,
.project-introduction ul li:active img {
  opacity: 1;
}

.presentation h1,
.presentation h2,
.presentation .h3,
.project-introduction h1,
.project-introduction h2,
.project-introduction .h3,
.concept h1,
.concept h2,
.concept .h3 {
  font-size: 80px;
}
@media screen and (max-width: 576px) {
  .presentation h1,
.presentation h2,
.presentation .h3,
.project-introduction h1,
.project-introduction h2,
.project-introduction .h3,
.concept h1,
.concept h2,
.concept .h3 {
    font-size: 32px !important;
  }
}
@media screen and (max-width: 1024px) {
  .presentation h1,
.presentation h2,
.presentation .h3,
.project-introduction h1,
.project-introduction h2,
.project-introduction .h3,
.concept h1,
.concept h2,
.concept .h3 {
    font-size: 60px;
  }
}

.presentation {
  padding-top: 5rem;
}
@media screen and (max-width: 576px) {
  .presentation {
    padding-top: 8rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .presentation {
    padding-top: 10rem;
  }
}
.presentation .subtitle {
  font-size: 17px;
  color: #213121;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #213121;
}
@media screen and (max-width: 1024px) {
  .presentation img {
    height: 50vh !important;
  }
}
.presentation .img-one {
  height: 41vh;
}
.presentation .img-two {
  height: 100vh;
}

.project-introduction h2 {
  font-size: 40px;
}
@media screen and (max-width: 576px) {
  .project-introduction h3 {
    font-size: 25px !important;
    margin-top: 30px;
  }
}

.charter .color {
  height: 30vh;
}
.charter a .meaning {
  margin-top: 6rem;
  margin-left: 2rem;
  position: absolute;
  font-family: "Hind", sans-serif;
}

.next-project {
  padding-bottom: 5rem;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 25px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
  background-color: transparent;
}
@media screen and (max-width: 576px) {
  .btn {
    font-size: 14px !important;
  }
}
.btn:hover, .btn:focus, .btn:active {
  border: none !important;
}

.btn-max {
  width: 100%;
}

.btn-dark {
  color: #213121;
  border: 2px solid #213121;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #f6f6f6;
  background-color: #213121;
}

.btn-primary {
  color: #f6f6f6;
  background-color: #213121;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #f6f6f6;
  background-color: #5a875a;
}

.card {
  padding: 30px;
  background-color: transparent;
}
.card p {
  margin-top: 30px;
}

.card-service {
  border: 2px solid #213121;
  padding: 30px 50px;
}
.card-service .icon-card {
  top: 0px;
  left: 0px;
  position: absolute;
  padding: 30px;
  border-bottom-right-radius: 10px;
  background-color: #213121;
}
.card-service .icon-card i {
  font-size: 25px;
  color: #91b691;
}
.card-service h4 {
  color: #213121;
  margin-left: 5%;
}
.card-service p {
  margin-top: 50px;
}

.card-background .title-background {
  height: auto;
  padding: 5rem;
  border-radius: 1.35rem;
}
@media screen and (max-width: 576px) {
  .card-background .title-background {
    padding: 3rem 2rem !important;
  }
}
.card-background .bg-one h4,
.card-background .bg-one p,
.card-background .bg-two h4,
.card-background .bg-two p {
  color: #213121;
}
.card-background .bg-one {
  background-color: #a8c1b4;
}
.card-background .bg-two {
  background-color: #91b691;
}
.card-background .bg-three {
  background-color: #395639;
}
.card-background .bg-three h3,
.card-background .bg-three h4,
.card-background .bg-three p {
  color: #f6f6f6;
}

.modal .modal-dialog .modal-content {
  padding: 3rem;
  background-color: #f6f6f6;
}
.modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
.modal .modal-dialog .modal-content .modal-header button {
  border: none;
  font-size: 20px;
  color: #395639;
  padding: 0px !important;
  background-color: transparent !important;
}
.modal .modal-dialog .modal-content .modal-header button i {
  margin-right: 10px;
}
.modal .modal-dialog .modal-content .modal-body p {
  margin-top: 20px;
}

/*# sourceMappingURL=main.css.map */
