.title {
  display: flex;
}
.title span {
  margin-right: 10px;
}
@media screen and (max-width: 1024px) {
  .title span img {
    width: 80% !important;
  }
}

.subtitle {
  font-size: 1.3rem !important;
  font-family: "Tajawal", sans-serif;
  text-transform: uppercase;
}

.sign {
  font-size: 5.9rem;
  font-family: "Grand Hotel", cursive;
  font-weight: 600;
}

.color--dark {
  color: #3a2d32 !important;
}

.color--span {
  color: #5d4b59 !important;
}

.color--light {
  color: #F5F5F5 !important;
}

.color--primary {
  color: #ae979b !important;
}

.color--accent {
  color: #ffe3dc !important;
}

.color--secondary {
  color: #dbb4ad !important;
}

.background--text {
  background-color: #3a2d32 !important;
}

.background--dark {
  background-color: #24181d !important;
}

.background--primary {
  background-color: #ae979b !important;
}

.background--light {
  background-color: #F5F5F5 !important;
}

.background--span {
  background-color: #5d4b59 !important;
}

.background--second--bg {
  background-color: #24181d !important;
}

.background--secondary {
  background-color: #dbb4ad !important;
}

.background--accent {
  background-color: #ffe3dc !important;
}

.marg {
  margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .marg-tablet {
    margin-top: 2rem !important;
  }
}

@media screen and (max-width: 578px) {
  .marg-mobile {
    margin-top: 2rem !important;
  }
}

.d-flex-between {
  display: flex !important;
  justify-content: space-between !important;
}

.center {
  align-items: center !important;
  justify-content: center !important;
}

.separator {
  width: 20%;
  height: 2px;
  margin-right: 2% !important;
  margin-left: 2% !important;
  background-color: #dbb4ad;
}
@media screen and (max-width: 578px) {
  .separator {
    width: 32% !important;
  }
}

.category .category-name {
  background-color: transparent !important;
  color: #ae979b !important;
  font-weight: 600;
  padding: 20px;
  width: 100% !important;
  position: relative;
  text-align: center;
  border: 2px solid #ae979b !important;
}

.span-cat {
  width: 50%;
  font-size: 17px;
  color: #F5F5F5;
  padding: 15px 25px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
@media screen and (max-width: 578px) {
  .span-cat {
    width: 80% !important;
  }
}
.span-cat:not(:last-child) {
  margin-bottom: 18px;
}

@media screen and (max-width: 1024px) {
  .none-tablet {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  color: #3a2d32;
  background-color: #F5F5F5;
}
body img {
  width: 100%;
  object-fit: cover;
}
body section {
  padding: 10rem 0rem;
}
@media screen and (max-width: 578px) {
  body section {
    padding: 5rem 1rem !important;
  }
}

body {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  max-width: 100%;
  color: #ae979b;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arima", system-ui;
  font-weight: 500;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4rem;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3rem !important;
  }
}

h2 {
  font-size: 3.9rem;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 2.8rem !important;
  }
}

h3 {
  font-size: 3.8rem;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 2.7rem !important;
  }
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.75rem;
  /* 12px */
}

p,
a {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.6px;
  font-family: "Tajawal", sans-serif;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 600;
}

.header .menu-header {
  width: 100% !important;
}
.header .navbar-brand .logo {
  width: 15%;
}
@media screen and (max-width: 578px) {
  .header .navbar-brand .logo {
    width: 28% !important;
  }
}
.header .lang a {
  color: #ae979b;
  font-weight: 600;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Tajawal", sans-serif;
}
.header .btn-menu {
  z-index: 11;
  border: none !important;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.header .btn-menu span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 999px;
  background-color: #ae979b;
  transition: all 0.4s ease-in-out;
}
.header .btn-menu span:not(:last-child) {
  margin-bottom: 8px;
}
.header .btn-menu.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}
.header .btn-menu.active span:nth-child(1), .header .btn-menu.active span:nth-child(3) {
  transition-delay: 0.4s;
}
.header .btn-menu.active span:nth-child(2) {
  width: 0;
}
.header .btn-menu.active span:nth-child(1) {
  transform: translateY(9px);
}
.header .btn-menu.active span:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}

.button-fixed {
  right: 10px;
  background-color: #5d4b59;
}
.button-fixed span {
  background-color: #ae979b !important;
}

.sidebar {
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
  z-index: 8;
  position: fixed;
  overflow-x: hidden;
  transition: width 0.3s ease;
  background-color: #3a2d32;
}
.sidebar .close {
  margin-top: 1rem;
  margin-left: 1.5rem;
  position: absolute;
}
.sidebar .close span {
  font-size: 28px;
}
.sidebar .menu {
  padding: 6rem 5rem;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .sidebar .menu {
    padding: 10rem 5rem;
  }
}
.sidebar .menu .nav-item:not(:last-child) {
  margin-bottom: 10px;
}
.sidebar .menu .nav-item .nav-link {
  color: #F5F5F5;
  font-size: 25px;
  position: relative;
  font-family: "Arima", system-ui;
  transition: colors 0.3s ease-in-out;
}
.sidebar .menu .nav-item .nav-link::before {
  left: 50%;
  bottom: 0;
  height: 3px;
  content: "";
  width: 0;
  position: absolute;
  visibility: hidden;
  transform: translateX(-50%);
  background-color: #ae979b !important;
  transition: all 0.3s ease-in-out;
}
.sidebar .menu .nav-item .nav-link:hover, .sidebar .menu .nav-item .nav-link:focus, .sidebar .menu .nav-item .nav-link:active {
  color: #ae979b !important;
  font-weight: 500;
}
.sidebar .menu .nav-item .nav-link:hover::before, .sidebar .menu .nav-item .nav-link:focus::before, .sidebar .menu .nav-item .nav-link:active::before {
  width: 60%;
  visibility: visible;
}
@media screen and (max-width: 578px) {
  .sidebar .menu .nav-item .nav-link:hover::before, .sidebar .menu .nav-item .nav-link:focus::before, .sidebar .menu .nav-item .nav-link:active::before {
    width: 30% !important;
  }
}

.footer {
  padding: 40px 0px;
  background-color: #3a2d32 !important;
}
.footer p,
.footer a {
  font-size: 0.9rem !important;
  font-weight: 300 !important;
}
.footer a {
  color: #F5F5F5 !important;
}
.footer h6 {
  color: #ae979b;
}
.footer ul {
  display: flex;
  justify-content: center;
}
.footer ul li {
  margin-left: 10px;
}
.footer .top {
  bottom: 10px;
  left: 10px;
  display: none;
  padding: 20px !important;
  position: fixed;
  background-color: #5d4b59;
}
.footer .top .icon {
  color: #F5F5F5;
}

.home .background--width {
  background: #24181d;
  width: 30%;
  position: absolute;
  top: 0px;
  left: 37%;
  height: 100%;
  z-index: -3;
}
@media screen and (max-width: 578px) {
  .home .background--width {
    left: 30% !important;
    width: 40% !important;
    height: 50% !important;
  }
}
@media screen and (max-width: 1024px) {
  .home .background--width {
    height: 70%;
  }
}
.home .background--width .width {
  opacity: 0;
}
.home p {
  padding-right: 25rem;
}
@media screen and (max-width: 1024px) {
  .home p {
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 578px) {
  .home .title {
    margin-top: 3rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .home .title {
    margin-top: 8rem;
  }
}
@media screen and (max-width: 578px) {
  .home .me {
    margin-top: -2rem !important;
    width: 98% !important;
  }
}
@media screen and (max-width: 1024px) {
  .home .me {
    width: 96%;
  }
}
.home .infos {
  position: relative;
  margin-top: -20rem;
  margin-left: -8rem;
}
@media screen and (max-width: 578px) {
  .home .infos {
    margin-top: -6rem !important;
    margin-left: -1rem !important;
    margin-bottom: 0rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .home .infos {
    margin-left: 0;
    margin-bottom: 8rem;
  }
}
.home .infos .location {
  margin-left: 10%;
}

.portfolio .title {
  margin-bottom: 2rem;
}

.about .img-me {
  height: 70vh;
  z-index: -3;
  position: relative;
}
.about .sign {
  margin-top: -4rem;
}
@media screen and (max-width: 578px) {
  .about .sign {
    margin-top: -2.3rem !important;
    font-size: 4rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .about .sign {
    margin-top: -9%;
  }
}
.about .btn-round {
  width: 7%;
  position: absolute;
  margin-left: -3%;
  margin-top: -3%;
}
@media screen and (max-width: 578px) {
  .about .btn-round {
    width: 40% !important;
    margin-top: -10% !important;
  }
}
@media screen and (max-width: 1024px) {
  .about .btn-round {
    width: 20%;
  }
}
.about .content {
  padding-left: 2rem;
}
@media screen and (max-width: 578px) {
  .about .content {
    padding-top: 2rem !important;
    padding-left: 0 !important;
  }
}

.contact ul li a {
  text-align: center;
  padding: 20px;
}
.contact ul li a i {
  margin-right: 10px;
}

.project-name {
  padding: 5rem 0 !important;
}

@media screen and (max-width: 578px) {
  .project-name h1 {
    font-size: 2.7rem !important;
    margin-top: 5px;
  }
}

.banner {
  padding: 0 0 10rem 0;
}
@media screen and (max-width: 578px) {
  .banner {
    padding: 0 0 5rem 0 !important;
  }
}
.banner .image-ban {
  padding: 0 !important;
}
.banner .project-category {
  margin-top: 35%;
  position: relative !important;
  margin-left: -30%;
}
@media screen and (max-width: 578px) {
  .banner .project-category {
    margin-left: 2% !important;
    margin-top: -8% !important;
  }
}
.banner .project-category .second {
  margin-left: 5%;
}
.banner .project-category .third {
  margin-left: 10%;
}
.banner p {
  padding: 10rem 0 0 0;
}
@media screen and (max-width: 578px) {
  .banner p {
    padding: 0rem 1rem 0rem 1rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .banner p {
    padding: 5rem 0 0 0;
  }
}

.image-logo {
  text-align: center;
}
.image-logo img {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .image-logo img {
    width: 100% !important;
  }
}

.comparison .title,
.project-images .title {
  margin-bottom: 4rem;
}

.card {
  border: none;
  border-radius: 0 !important;
}

.card-service {
  height: 62vh;
  background-color: transparent;
}
.card-service img {
  height: 62vh;
}
@media screen and (max-width: 578px) {
  .card-service img {
    height: 65vh !important;
  }
}
.card-service .icon-service {
  width: 20%;
  padding: 20px;
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: center;
  position: absolute;
}
.card-service .icon-service .icon {
  font-size: 25px;
}
.card-service:hover .text-content, .card-service:focus .text-content, .card-service:active .text-content {
  opacity: 1 !important;
  transition: all 0.3s ease-in-out !important;
}
.card-service .content {
  color: #F5F5F5;
  margin-top: -3rem;
  margin-left: 1rem;
}
.card-service .content .text-content {
  top: 0;
  padding: 2rem;
  height: 62vh;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out !important;
  margin-left: -1rem !important;
}
@media screen and (max-width: 578px) {
  .card-service .content .text-content {
    height: 73vh !important;
  }
  .card-service .content .text-content p {
    font-size: 1rem !important;
  }
}

.card-portfolio {
  background-color: transparent !important;
}
.card-portfolio .name {
  color: #F5F5F5;
  position: absolute;
  padding: 20px;
  margin-left: -1rem;
  margin-top: 3rem;
  background-color: #dbb4ad;
}
@media screen and (max-width: 578px) {
  .card-portfolio .name {
    margin-left: -1rem !important;
  }
}

.card-goal {
  padding: 2rem;
}

.card-logo {
  text-align: center;
  background-color: transparent !important;
}

.btn {
  font-size: 19px;
  font-weight: 600;
  font-family: "Tajawal", sans-serif;
  padding: 15px 30px;
  border: none !important;
  border-radius: 0 !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-round {
  color: #dbb4ad;
  padding: 20px !important;
  border: 2px solid #dbb4ad !important;
  border-radius: 50% !important;
}
.btn-round:hover, .btn-round:focus, .btn-round:active {
  color: #F5F5F5;
  background-color: #dbb4ad;
}

.btn-dark {
  color: #F5F5F5;
  background-color: #24181d;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #ae979b;
  background-color: #ffe3dc;
}

.btn--secondary {
  color: #3a2d32;
  background-color: #dbb4ad;
}
.btn--secondary:hover, .btn--secondary:focus, .btn--secondary:active {
  color: #ffe3dc;
  background-color: #ae979b;
}

.btn--primary {
  color: #ffe3dc;
  background-color: #ae979b;
}
.btn--primary:hover, .btn--primary:focus, .btn--primary:active {
  color: #3a2d32;
  background-color: #dbb4ad;
}

.btn-span {
  color: #F5F5F5;
  background-color: #5d4b59;
}
.btn-span:hover, .btn-span:focus, .btn-span:active {
  color: #ffe3dc;
  background-color: #24181d;
}

.btn-accent {
  color: #ae979b;
  background-color: #ffe3dc;
}
.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
  color: #F5F5F5;
  background-color: #3a2d32;
}

.btn-max {
  width: 100%;
}

.btn-border-light {
  color: #dbb4ad;
  border: 2px solid #dbb4ad !important;
}
.btn-border-light:hover, .btn-border-light:focus, .btn-border-light:active {
  color: #3a2d32;
  background-color: #dbb4ad;
}

.accordion .accordion-item {
  border: none !important;
  margin-bottom: 2rem !important;
  background-color: transparent !important;
}
.accordion .accordion-item .accordion-header {
  border: 1px solid #F5F5F5 !important;
  background-color: transparent !important;
}
.accordion .accordion-item .accordion-header button {
  color: #F5F5F5 !important;
  padding: 34px 50px;
  background-color: transparent !important;
}
@media screen and (max-width: 578px) {
  .accordion .accordion-item .accordion-header button {
    padding: 34px !important;
  }
}
.accordion .accordion-item .accordion-header button::after {
  content: none !important;
}
.accordion .accordion-item .accordion-body {
  border-top: none !important;
  padding: 3rem 1rem 1rem 1rem;
}
.accordion .accordion-item .accordion-body p {
  color: #F5F5F5 !important;
}

/*# sourceMappingURL=main.css.map */
