h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  width: 100%;
  word-wrap: break-word;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Italiana", serif;
}

h1 {
  font-size: 58px;
}
@media screen and (max-width: 567px) {
  h1 {
    font-size: 34px !important;
  }
}

h2 {
  font-size: 54px;
}
@media screen and (max-width: 567px) {
  h2 {
    font-size: 33px !important;
  }
}

h3 {
  font-size: 50px;
}
@media screen and (max-width: 567px) {
  h3 {
    font-size: 32px !important;
  }
}

h4 {
  font-size: 48px;
}
@media screen and (max-width: 567px) {
  h4 {
    font-size: 33px !important;
  }
}

.subtitle {
  font-size: 18px !important;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Montaga", serif;
  text-transform: uppercase;
}

p {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.color-smoke {
  color: #f5f5f5 !important;
}

.color-gold {
  color: #E4BA4E !important;
}

.color-turkey {
  color: #A30000 !important;
}

.color-falu {
  color: #751A1A !important;
}

.color-eerie {
  color: #252525 !important;
}

.background-smoke {
  background-color: #f5f5f5 !important;
}

.background-gold {
  background-color: #E4BA4E;
}

.background-turkey {
  background-color: #A30000 !important;
}

.background-falu {
  background-color: #751A1A !important;
}

.background-eerie {
  background-color: #252525;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.line-with-number {
  font-size: 27px;
  align-items: center;
  text-align: center;
  display: flex;
  color: #f5f5f5;
  font-family: "Montaga", serif;
}
.line-with-number::after {
  content: "";
  flex: 1;
  margin: 0 10px;
  border-bottom: 3px solid #E4BA4E;
}

.line-before::after {
  flex: 0 !important;
}
.line-before::before {
  content: "";
  flex: 1;
  margin: 0 10px;
  border-bottom: 3px solid #E4BA4E;
}

.margin-xs {
  margin-top: 1rem;
}

.margin-s {
  margin-top: 2rem;
}

.margin-m {
  margin-top: 3rem;
}

.padding-none {
  padding: 0px !important;
}

.padding-text {
  padding: 10rem 5rem 0rem 5rem;
}
@media screen and (max-width: 567px) {
  .padding-text {
    padding: 1rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .padding-text {
    padding: 6rem 5rem;
  }
}

.padding-right {
  padding-right: 5rem;
}
@media screen and (max-width: 567px) {
  .padding-right {
    padding-right: 0px !important;
  }
}

@media screen and (max-width: 1024px) {
  .padding-right-none-tablet {
    padding-right: 0px !important;
  }
}

.justify-text {
  text-align: justify;
}

.left-text {
  text-align: left !important;
}

.img-presentation {
  height: 600px;
}
@media screen and (max-width: 567px) {
  .img-presentation {
    height: 380px !important;
  }
}

@media screen and (max-width: 1024px) {
  .column-reverse-tablet {
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 567px) {
  .none-mobile {
    display: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  width: 100%;
  word-wrap: break-word;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Italiana", serif;
}

h1 {
  font-size: 58px;
}
@media screen and (max-width: 567px) {
  h1 {
    font-size: 34px !important;
  }
}

h2 {
  font-size: 54px;
}
@media screen and (max-width: 567px) {
  h2 {
    font-size: 33px !important;
  }
}

h3 {
  font-size: 50px;
}
@media screen and (max-width: 567px) {
  h3 {
    font-size: 32px !important;
  }
}

h4 {
  font-size: 48px;
}
@media screen and (max-width: 567px) {
  h4 {
    font-size: 33px !important;
  }
}

.subtitle {
  font-size: 18px !important;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Montaga", serif;
  text-transform: uppercase;
}

p {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #252525;
}
body img {
  width: 100%;
  object-fit: cover;
}
body a {
  text-decoration: none !important;
}
body section {
  padding: 10rem 0rem;
}
@media screen and (max-width: 1024px) {
  body section {
    padding: 5rem 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  width: 100%;
  word-wrap: break-word;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Italiana", serif;
}

h1 {
  font-size: 58px;
}
@media screen and (max-width: 567px) {
  h1 {
    font-size: 34px !important;
  }
}

h2 {
  font-size: 54px;
}
@media screen and (max-width: 567px) {
  h2 {
    font-size: 33px !important;
  }
}

h3 {
  font-size: 50px;
}
@media screen and (max-width: 567px) {
  h3 {
    font-size: 32px !important;
  }
}

h4 {
  font-size: 48px;
}
@media screen and (max-width: 567px) {
  h4 {
    font-size: 33px !important;
  }
}

.subtitle {
  font-size: 18px !important;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Montaga", serif;
  text-transform: uppercase;
}

p {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 20px 0px;
}
@media screen and (max-width: 567px) {
  .header {
    padding: 10px 0px !important;
  }
}
@media screen and (max-width: 567px) {
  .header .container {
    flex-direction: row-reverse !important;
  }
}
@media screen and (max-width: 567px) {
  .header .brand {
    width: 86%;
  }
}
.header .brand .website-name {
  margin-top: 8%;
  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Italiana", serif;
}
.header .toggler-menu {
  padding: 10px;
  background-color: #f5f5f5;
}
.header .toggler-menu:hover, .header .toggler-menu:focus, .header .toggler-menu:active {
  background-color: #E4BA4E !important;
  transition: all 0.3s ease-in-out !important;
}
.header .toggler-menu:hover .bars, .header .toggler-menu:focus .bars, .header .toggler-menu:active .bars {
  background-color: #f5f5f5 !important;
}
.header .toggler-menu:hover .second-bars, .header .toggler-menu:focus .second-bars, .header .toggler-menu:active .second-bars {
  width: 20px !important;
  transition: all 0.3s ease-in-out !important;
}
@media screen and (max-width: 567px) {
  .header .toggler-menu {
    margin-right: 5px;
  }
}
.header .toggler-menu .toggler-bars {
  width: 20px;
}
.header .toggler-menu .toggler-bars .bars {
  height: 2px;
  width: 20px;
  display: flex;
  flex-direction: column;
  background-color: #252525;
}
.header .toggler-menu .toggler-bars .bars:not(:last-child) {
  margin-bottom: 5px;
}
.header .toggler-menu .toggler-bars .second-bars {
  width: 10px;
}
.header .languages {
  margin-top: 1%;
}
.header .languages .btn-languages {
  padding: 10px 15px;
  border: 1px solid #f5f5f5;
}
@media screen and (max-width: 567px) {
  .header .languages .btn-languages {
    display: none !important;
  }
}

.sidebar {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0;
  position: fixed;
  overflow-x: hidden;
  transition: width 0.3s ease;
  background-color: #f5f5f5;
}
.sidebar .img-sidebar {
  z-index: -99;
  min-height: 100vh;
  position: absolute;
}
.sidebar .close {
  font-size: 20px;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 10px;
  position: absolute;
  background-color: #252525;
}
.sidebar .close:hover, .sidebar .close:focus, .sidebar .close:active {
  background-color: #E4BA4E;
  transition: all 0.3s ease-in-out !important;
}
.sidebar .close:hover i, .sidebar .close:focus i, .sidebar .close:active i {
  color: #f5f5f5;
}
.sidebar .close i {
  color: #f5f5f5;
}
.sidebar .menu {
  padding: 5rem 5rem;
  text-align: center;
}
@media screen and (max-width: 567px) {
  .sidebar .menu {
    padding: 10rem 1rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .sidebar .menu {
    padding: 10rem 2rem;
  }
}
.sidebar .menu .nav-link {
  font-size: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Italiana", serif;
}
@media screen and (max-width: 567px) {
  .sidebar .menu .nav-link {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 1024px) {
  .sidebar .menu .nav-link {
    font-size: 80px;
  }
}
.sidebar .menu .nav-link:hover, .sidebar .menu .nav-link:focus, .sidebar .menu .nav-link:active {
  color: #E4BA4E;
  font-style: italic;
  transition: all 0.3s ease-in-out !important;
}

.footer {
  padding: 5rem 0rem;
}

.card {
  border-radius: 0px !important;
  background-color: transparent;
}

.card-service,
.card-value {
  padding: 8rem 2rem;
  border: 1px solid #f5f5f5;
}
@media screen and (max-width: 567px) {
  .card-service,
.card-value {
    padding: 3rem 2rem !important;
  }
}
.card-service h2,
.card-service h3,
.card-value h2,
.card-value h3 {
  color: #f5f5f5;
  font-size: 20px !important;
}

.card-value .icon-value {
  font-size: 20px;
}
.card-value h2 {
  font-weight: 600 !important;
}

.card-project {
  border: none !important;
  background-color: transparent !important;
}
.card-project img {
  opacity: 0.8 !important;
}
.card-project .content-project {
  position: absolute;
  margin-top: -10%;
  margin-left: 5%;
}
@media screen and (max-width: 567px) {
  .card-project .content-project {
    margin-top: -15% !important;
  }
}
.card-project .content-project h3 {
  font-weight: 800 !important;
}
@media screen and (max-width: 567px) {
  .card-project .content-project h3 {
    font-size: 16px !important;
  }
}

.background .img-background {
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -999;
  min-height: 100vh;
  position: fixed;
}

.btn {
  font-size: 13px;
  font-weight: 800 !important;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.btn-arrow {
  padding: 0px;
  border: none !important;
}
.btn-arrow .arrow {
  margin-left: 10px;
}
.btn-arrow:hover, .btn-arrow:focus, .btn-arrow:active {
  color: #A30000 !important;
}

.languages .btn-languages,
.choose-languages .btn-languages {
  color: #f5f5f5;
  padding: 10px 15px;
  border: 1px solid #f5f5f5;
}
.languages .flag,
.choose-languages .flag {
  width: 20px;
  height: 20px;
}
.languages .name-flag,
.choose-languages .name-flag {
  font-size: 15px;
  margin-left: 5px;
  margin-right: 2px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.languages .dropdown-menu.show,
.choose-languages .dropdown-menu.show {
  border: none !important;
  border-radius: 0px !important;
}
.languages .dropdown-menu.show .dropdown-item:hover, .languages .dropdown-menu.show .dropdown-item:active, .languages .dropdown-menu.show .dropdown-item:focus,
.choose-languages .dropdown-menu.show .dropdown-item:hover,
.choose-languages .dropdown-menu.show .dropdown-item:active,
.choose-languages .dropdown-menu.show .dropdown-item:focus {
  background-color: transparent;
}
.languages .dropdown-menu.show .dropdown-item:hover span, .languages .dropdown-menu.show .dropdown-item:active span, .languages .dropdown-menu.show .dropdown-item:focus span,
.choose-languages .dropdown-menu.show .dropdown-item:hover span,
.choose-languages .dropdown-menu.show .dropdown-item:active span,
.choose-languages .dropdown-menu.show .dropdown-item:focus span {
  color: #E4BA4E !important;
}

.choose-languages {
  display: none;
}
@media screen and (max-width: 567px) {
  .choose-languages {
    position: fixed;
    bottom: 20px;
    left: 10px;
    display: block !important;
  }
}

.passion img,
.realization img {
  height: 700px;
}
@media screen and (max-width: 567px) {
  .passion img,
.realization img {
    height: 417px !important;
  }
}

.passion {
  margin-bottom: 10rem;
}
.passion .img-woman {
  width: 35%;
  left: 35%;
  z-index: -9;
  position: absolute;
}
@media screen and (max-width: 567px) {
  .passion .img-woman {
    width: 70% !important;
    left: 17% !important;
  }
}
@media screen and (max-width: 1024px) {
  .passion .img-woman {
    height: 500px;
    width: 56%;
  }
}
.passion h1 {
  margin-top: 8rem;
  padding-bottom: 20px;
  border-bottom: 3px solid #E4BA4E;
}

.realization img {
  position: relative;
  margin-top: -12%;
  z-index: -8;
  margin-left: 5%;
}
@media screen and (max-width: 567px) {
  .realization img {
    width: 100% !important;
    margin-top: -41% !important;
    margin-left: 5% !important;
  }
}
@media screen and (max-width: 1024px) {
  .realization img {
    height: 550px;
    width: 84%;
    margin-top: -17%;
    margin-left: 8%;
  }
}

/*# sourceMappingURL=style.css.map */
