.about-me {

    h1,
    h2 {
        @media screen and (max-width: $tablet) {
            text-align: $center !important;
        }
    }

    .image-one {
        @media screen and (max-width: $tablet) {
            margin-bottom: $r-two;
        }
    }

    .image-two {
        margin-bottom: $r-two;

        @media screen and (max-width: $tablet) {
            margin-top: $r-two;
        }
    }
}

.languages {
    .icon {
        display: $flex;

        @media screen and (max-width: $mobile) {
            display: $block !important;
            text-align: $center !important;
        }

        @media screen and (max-width: $tablet) {
            margin-bottom: $r-two;
        }
    }

    .icon-two {
        @media screen and (max-width: $tablet) {
            margin-bottom: 0rem !important;
        }
    }
}