.presentation,
.project-introduction,
.concept {

    h1,
    h2,
    .h3 {
        font-size: 80px;

        @media screen and (max-width: $mobile) {
            font-size: 32px !important;
        }

        @media screen and (max-width: $tablet) {
            font-size: 60px;
        }
    }
}

.presentation {
    padding-top: 5rem;

    @media screen and (max-width: $mobile) {
        padding-top: 8rem !important;
    }

    @media screen and (max-width: $tablet) {
        padding-top: 10rem;
    }

    .subtitle {
        font-size: 17px;
        color: $dark-green;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $dark-green;
    }

    img {
        @media screen and (max-width: $tablet) {
            height: 50vh !important;
        }
    }

    .img-one {
        height: 41vh;
    }

    .img-two {
        height: 100vh;
    }
}

.project-introduction {
    h2 {
        font-size: 40px;
    }

    h3 {
        @media screen and (max-width: $mobile) {
            font-size: 25px !important;
            margin-top: $size-thirty;
        }
    }
}

.charter {
    .color {
        height: 30vh;
    }

    a {
        .meaning {
            margin-top: 6rem;
            margin-left: 2rem;
            position: $absolute;
            font-family: $font-base;
        }
    }
}

.next-project {
    padding-bottom: 5rem;
}