.project-name {
    padding: 5rem $zero !important;
}

.project-name {
    h1 {
        @media screen and (max-width: $mobile) {
            font-size: 2.7rem !important;
            margin-top: 5px;
        }
    }
}

.banner {
    padding: $zero $zero 10rem $zero;

    @media screen and (max-width: $mobile) {
        padding: $zero $zero 5rem $zero !important;
    }

    .image-ban {
        padding: $zero !important;
    }

    .project-category {
        margin-top: 35%;
        position: $relative !important;
        margin-left: -30%;

        @media screen and (max-width: $mobile) {
            margin-left: 2% !important;
            margin-top: -8% !important;
        }

        .second {
            margin-left: 5%;
        }

        .third {
            margin-left: 10%;
        }
    }

    p {
        padding: 10rem $zero $zero $zero;

        @media screen and (max-width: $mobile) {
            padding: 0rem 1rem 0rem 1rem !important;
        }

        @media screen and (max-width: $tablet) {
            padding: 5rem $zero $zero $zero;
        }
    }
}

.image-logo {
    text-align: $center;

    img {
        width: 50%;

        @media screen and (max-width: $tablet) {
            width: $max !important;
        }
    }
}

.comparison,
.project-images {
    .title {
        margin-bottom: 4rem;
    }
}